/node_modules/
/dist/
/build/
/target/
.exe
.dll
.o
.class
/node_modules/
.DS_Store
/vendor/
.env
config/secrets.yml
.RData
.Rproj.user
*.log
npm-debug.log*
*.tmp
*.bak
coverage/
*.lcov
.tox/
.pytest_cache/
venv/
